body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container{
    width: 1060px;
    margin: auto;
    background-color: #fff;
}

.container2 table{
    width: 90%;
    font-size: 12px;
}

.header {
    padding: 20px;
    padding-bottom: 5px;
}

.header .judul{
    font-size: 30px;
    font-weight: bold;
    /* background-color: royalblue; */
}

.header .deskripsi{
    text-align: left;
    font-weight: bold;
    color: lightskyblue;
    /* background-color:aqua; */
}

.header .alamat{
    text-align: left;
    font-weight: bold;
    /* background-color: black; */
}

.header ul li{
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: auto;

}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 1px;
}

.header a:hover{
background-color: lightskyblue;
color: white;
}

.header .logo{
    float: left;
}

.hero {
    height: 480px;
    background-image: url(img/IMG_4350.jpg);
    background-size: cover;
    background-position: 0 0;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

.content{
    padding: 10px;
}

.content h2 {
    font-size: 28px;
    font-weight: -5px;
}

.content .update a {
    color: salmon;
    text-decoration: none;
}

.content p{
margin-bottom: 20px;
font-size: 11px;
}